body {
  color: #393939;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
